h1,
h2 {
  font-family: "BioRhyme", serif;
}

h2,
em {
  color: #88681f;
padding-top: 3.5rem;
}

main, aside {
  font-family: "Corben", serif;
}

body {
padding: 1rem 10rem;
}

header, 
footer {
   text-align: center;
}

 footer li {
 text-align:left;
 line-height: 1.5;
}

figcaption {
  line-height: 2rem;
}

img {
  border: 1.5rem ridge black;
  width: 100%;
  max-width: 34rem;
  display: block;
  margin: auto;
}

section {
  display: flex;
}

section h2{
  text-align: center;
  
}

aside {
border-left: .5rem solid #88681f ;
}

section p, aside {
flex: 4fr/2fr;
 padding: 0 2.5rem;
justify-content: space-evenly;
}

.author {
  border-style: groove hidden;
  color: #88681f;
}
