h1, h2 {
  font-family: 'BioRhyme', serif;
  line-height: 2;
}

p {
font-family: 'Corben', serif;
}

main, footer {
  text-align: center;
  padding: 20px 85px;
}

figcaption {
  line-height: 2rem;
}

img {
  border: 20px ridge black;
  width: 100%;
  max-width: 550px;
  display: block;
  margin: auto;
}

.author {
  border-style: groove hidden;
  color: gold;
}