h1,
h2 {
  font-family: "BioRhyme", serif;
}

h2,
em {
  color: #88681f;
}

main p {
  font-family: "Corben", serif;
}

main,
footer {
  padding: 1rem 10rem;
  text-align: center;
}

 footer li {
 text-align:left;
 line-height: 1.5;
}

figcaption {
  line-height: 2rem;
}

img {
  border: 1.5rem ridge black;
  width: 100%;
  max-width: 34rem;
  display: block;
  margin: auto;
}

section {
  display: flex;
  flex: 2;
}

section h2{
  text-align: center;
}

section p {
  flex: 4fr/2fr;
  margin-left: 1.5rem;
  justify-content: space-evenly;
}

.author {
  border-style: groove hidden;
  color: #88681f;
}
